.leaf {
    width: 2in;
}

.TypeAnimate {
    height: 1.5in;
}

.title {
    font: bold 3em "Ubuntu Mono", monospace;
    text-align: center;
}

.typer {
    font: 2em "Ubuntu Mono", monospace;
    text-align: center;
    padding: 0.8em;
    padding-top: 0.4em;
}

.home {
    background-color: #e3bb19;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}