@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.btn {
    background-color: blueviolet;
}

.box {

}

.innerText {
    font-size: 20;
    color:black;
}

.test {
    color: rebeccapurple;
    background-color: red;
}